@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YUKITA";
  src: url("../public/Fonts/yukita-sans.medium.otf");
}

@font-face {
  font-family: "Argentum";
  src: url("../public/Fonts/ArgentumSans-Bold.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/Fonts/GilroyMedium.ttf");
}

@font-face {
  font-family: "Gilroy-semiBold";
  src: url("../public/Fonts/Gilroy-Semibold.ttf");
}